.banner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner__content {
    padding: 0 0 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__text-wrapper {
    margin: 0 0px 32px;
    max-width: 540px;
}

.banner__text {
    display: block;
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
}

.banner__lightposter {
    width: 110px;
    border-radius: 8px;
    background-color: #fff;
    padding: 16px 15px 15px;
}

.banner__contribution {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #3C52E6;
}

.banner__percent {
    font-size: 44px;
    line-height: 40px;
    text-align: center;
    color: #3C52E6;
}

.banner__wrapper {
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: 32px;
    margin-bottom: 60px;
}

.banner__list {
    margin: 0;
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.banner__list-item {
    font-size: 16px;
    line-height: 18px;

}

.banner__link {
    display: block;
    width: 219px;
    background-color: #23252E;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 28px;
}